.button {
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    text-wrap: nowrap;
    &:disabled {
     opacity: 0.5;  
     cursor: not-allowed; 
    }
}
.primary {
    background-color: #000;
    color: white;
}
.secondary {
    background-color: white;
    color: #000;
}
.transparent {
    background-color: transparent;
}